body {
    background-color: #3E5CA2;
}

.main-home {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #F7CC46;
    border: 8px;
    border-color: black;
    font-family: 'Potta One', cursive;
}

button {
    background-color: #CD3529;
    color: #FFF;
    font-size: 24px;
    border: none;
    width: 270px;
    border-radius: 50px;
    cursor: pointer;
}